<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="normalize.css")
    title Document
body
    header.site-header
      .site-header__wrapper
        .site-header__logo
            img(src="./img/logo.svg")  
        nav.main-nav
            .main-nav__wrapper
                ul.main-nav__list.main-nav--closed
                    li.main-nav__item: a(href="#") Главная
                    li.main-nav__item: a(href="#") Наши работы
                    li.main-nav__item: a(href="#") Записаться
                    li.main-nav__item: a(href="#") Контакты
                    li.main-nav__item: a(href="#") Html Academy
                ul.main-nav__entry-list.main-nav--closed
                    li: a(href="#")  Вход
    section.stats
        .stats__wrapper
         table.stats__table
            tr 
                td
                    h1.stats__motto Стрижка у нас 
                    h1.stats__motto это выгодно!
                td
                    h2.stats__numbers 1 500
                        sup *
                    p.stats__fact рублей вложений
                td
                    h2.stats__numbers 7 200
                        
                    p.stats__fact секунд времени
            tr
                td 
                    p.stats__stats Мужская стрижка требует 
                    p.stats__stats точного подхода. Обратимся
                    p.stats__stats к статистике:
                    blockquote.stats__note * - приведенные данные ложь
                td
                    h2.stats__numbers 90 000
                    p.stats__fact постриженных волос
                td
                    h2.stats__numbers 500 000 
                        sup *
                    p.stats__fact лайков и комплиментов
    section.feature
        .feature__wrapper
            ul.feature__block
                .feature__icon
                    img(src="./img/scissors.png" alt="ножницы")
                h3.feature__title  Быстро 
                p.feature__text Мы делаем свою работу быстро! 
                p.feature__text Два часа пролетят незаметно
                p.feature__text и вы — счастливый обладатель 
                p.feature__text стильной стрижки-минутки
            ul.feature__block
                .feature__icon
                    img(src="./img/chair.png" alt="кресло")
                h3.feature__title  Круто
                p.feature__text Забудьте, как вы стриглись 
                p.feature__text раньше. Мы сделаем из вас 
                p.feature__text звезду футбола или кино.
                p.feature__text Во всяком случае внешне.
            ul.feature__block
                .feature__icon
                    img(src="./img/barberpole.png" alt="барберпул")
                h3.feature__title  Дорого 
                p.feature__text Наши мастера — профессионалы 
                p.feature__text своего делаи не могут стоит
                p.feature__text дёшево. К тому же, разве цена не
                p.feature__text даёт определённый статус?
    section.news
        .news__wrapper
            button.button Показать все 
            .news__block
                .news__icon
                    img(src="#")
                p.news__text Нам наконец завезли 
                |Ягермайстер! Теперь вы можете 
                |пропусить стаканчик во время стрижки.
        .news__block
                .news__icon
                    img(src="#")
                p.news__text В нашей команде пополнение, 
                |Борис «Бритва» Стригунец
                |пополнил наши стройные ряды. 
                |Спешите записаться!
        .news__block
                .news__icon
                    img(src="#")
                p.news__text Все дорожает, а наши стрижки 
                |нет! Как так? Приходите, 
                |постригитесь и узнаете, в чем
                |здесь подвох!
    section.review
        .review__wrapper
                button.button Оставить свой
                h1.review__maintitle Отзывы о нас
                button.button.button__review--left
                button.button.button__review--right

                .review__review
                    .review__icon 
                       img(src="#")
                    .review__author Трэвис Баркер
                    .review__text Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    label(for="").review__paginator 1
                    label(for="").review__paginator 2
                    label(for="").review__paginator 3
    footer.site-footer
        .social__wrapper
            .social__contacts 
                h2.social__title Барбершоп Бородинский 
                p.social__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8
                p.social__phone Тел.: +7 (812) 555-66-66
            .social__links
                h2.social__title Давайте дружить!
                .social__links
                    img(src="#").social__links--vk
                    img(src="#").social__links--fb
                    img(src="#").social__links--in
            .social__develop
                h2.social__title Разработано
                h3.social__title--main HTML Academy
        
                
                





        
                
            
            
            
        


                
        
    