<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="normalize.css")
    title Document
body
    header.site-header
      .site-header__wrapper
        .site-header__logo
            img(src="./img/logo.svg")  
        nav.main-nav
            .main-nav__wrapper
                ul.main-nav__list.main-nav--closed
                    li.main-nav__item: a(href="#") Главная
                    li.main-nav__item: a(href="#") Наши работы
                    li.main-nav__item: a(href="#") Записаться
                    li.main-nav__item: a(href="#") Контакты
                    li.main-nav__item: a(href="#") Html Academy
                ul.main-nav__entry-list.main-nav--closed
                    li: a(href="#")  Вход
    section.stats
        .stats__wrapper
         table.stats__table
            tr 
                td
                    h1.stats__motto Стрижка у нас 
                    h1.stats__motto это выгодно!
                td
                    h2.stats__numbers 1 500
                        sup *
                    p.stats__fact рублей вложений
                td
                    h2.stats__numbers 7 200
                        
                    p.stats__fact секунд времени
            tr
                td 
                    p.stats__stats Мужская стрижка требует 
                    p.stats__stats точного подхода. Обратимся
                    p.stats__stats к статистике:
                    blockquote.stats__note * - приведенные данные ложь
                td
                    h2.stats__numbers 90 000
                    p.stats__fact постриженных волос
                td
                    h2.stats__numbers 500 000 
                        sup *
                    p.stats__fact лайков и комплиментов
    section.feature
     .feature__wrapper
            ul.feature__block
                .feature__icon
                    img(src="./img/scissors.png" alt="ножницы")
                h3.feature__title  Быстро 
                p.feature__text Мы делаем свою работу быстро! 
                p.feature__text Два часа пролетят незаметно
                p.feature__text и вы — счастливый обладатель 
                p.feature__text стильной стрижки-минутки
            ul.feature__block
                .feature__icon
                    img(src="./img/chair.png" alt="кресло")
                h3.feature__title  Круто
                p.feature__text Забудьте, как вы стриглись 
                p.feature__text раньше. Мы сделаем из вас 
                p.feature__text звезду футбола или кино.
                p.feature__text Во всяком случае внешне.
            ul.feature__block
                .feature__icon
                    img(src="./img/barberpole.png" alt="барберпул")
                h3.feature__title  Дорого 
                p.feature__text Наши мастера — профессионалы 
                p.feature__text своего делаи не могут стоит
                p.feature__text дёшево. К тому же, разве цена не
                p.feature__text даёт определённый статус?
    section.news
      .news__wrapper
            h1.news__intro Новости и Акции 
            button.button.button--news Показать все 
            ul.news__block
                .news__icon
                    span 29
                p.news__text Нам наконец завезли 
                p.news_-text Ягермайстер! Теперь вы можете 
                p.news__text пропусить стаканчик во время 
                p.news__text стрижки.
            ul.news__block
                .news__icon
                    span 15
                p.news__text В нашей команде пополнение, 
                p.news__text Борис «Бритва» Стригунец
                p.news__text пополнил наши стройные ряды. 
                p.news__text Спешите записаться!
            ul.news__block
                .news__icon
                    span 16
                p.news__text Все дорожает, а наши стрижки 
                p.news__text нет! Как так? Приходите, 
                p.news__text постригитесь и узнаете, в чем
                p.news__text здесь подвох!
    section.review
        .review__wrapper
                button.button.button--reviews Оставить свой
                h1.news__intro Отзывы о нас
                .review__form
                    button.button.button__review--left:  img(src="./img/arrow-left.png")
                    button.button.button__review--right: img(src="./img/arrow-right.png")
                    .review__icon 
                       img(src="./img/author.png")
                    .review__review
                        h2.review__author Трэвис Баркер
                        p.review__text Спасибо за лысину! Был проездом в Москве, заскочил побриться,чтобы было видно новую татуировку!
                .review__input-wrapper
                    label: input(for="",type="radio").review__paginator 
                    label: input(for="",type="radio").review__paginator 
                    label: input(for="",type="radio").review__paginator 
    footer.site-footer
        .social__wrapper
         ul.social__block
            .social__contacts 
                h2.social__title Барбершоп Бородинский 
                p.social__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8
                p.social__phone Тел.: +7 (812) 555-66-66
         ul.social__block
            .social__links
                h2.social__title Давайте дружить!
                .social__link-inline
                    img(src="./img/vk.png").social__links--vk
                    img(src="./img/fb.png").social__links--fb
                    img(src="./img/in.png").social__links--in
         ul.social__block
            .social__develop
                h2.social__title Разработано
                h3.social__title--main HTML Academy
        
                
                





        
                
            
            
            
        


                
        
    