.button {
    // position: relative;
    border:1px solid $line;
    background-color: $white;
    color:$colorTitle;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:25px; 
    padding-right: 25px;
    text-transform: uppercase;
    outline: none;
 
}
 .button--news {
     @include atSmall {
         display: none;
     }
        position: absolute;
        right:0px; 
        top:30px;
    }
.button--reviews {
    position: absolute;
    right: 0px; 
    top:30px;
    // visibility: hidden;
    
}
.button__review--left {
    height: 160px;
    left: 0;
    @include atSmall  {
        display: none;
    }
}
.button__review--right {
    height: 160px;
    position: absolute;
    right: 0;
    @include atSmall {
        display: none;
    }
}
