.feature {
    position: relative;
    background-color:#353535; 
    &__wrapper {
        max-width:1170px;
        margin: 0px auto;
        padding-left:15px;
        padding-right:15px;
        text-align: center;
    }
    &__block {
        display: inline-block;
        margin:75px;
        margin-right:65px;
        margin-left:65px;
        text-align: center;
        // margin-left:105px; 
        @include atSmall {
            margin-left:13px;
            margin-right: 13px; 
        } 
    }
    &__icon {
        padding-left:50px;
        padding-right:50px;
    }
    &__title {
        color:$white; 
        padding-left:65px;
        padding-right:65px;  
        font-family: $mainFont;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;

    }
    &__text {
        color:$white;
        line-height: 0.6;
        font-family: $mainFont;
        text-align: center;

    }
}