.main-nav {
    position: absolute;
    top:0px;
    left: 0px; 
    right: 0px;
    background-color:black;
     height: 100px;

    &__wrapper {
    width:1170px;
    margin: 0px auto;
    margin-top:35px;
    margin-bottom:35px;
    }
    &__list {
        display: inline;
        text-align: center;
        padding-left:px;
        padding-right:132px;

    }
    &__item {
    display: inline;
    //box model 
    padding-top:0px;
    padding-bottom: 0px;
    padding-left:35px; 
    padding-right:35px;  
    font-size: 16px;
    }
    a {
        color:$white;
        font-size: 1.2rem;
        font-family: 'PT Sans Narrow',sans-serif;
        text-transform: uppercase;

    }
    &__entry-list {
        display: inline-block;
        padding-left:0px;
    }
    &--closed {
        @include atSmall {
        display: none;

        }
    }
}