
.site-header {
    position: relative;
    background-image:url("./img/bg-desktop.png"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width:200vh;
    height:90vh;
    // @include atSmall {
               
        
    // }
   
  &__logo {
    max-width: 100%;
    width: 370px;
    height: 170px;
    // margin:0px auto;
    position: relative;
      
img {
    //box model
    height: 100%;
    width: 100%;
    position: absolute;
    max-width:370px;
    left:0;
    top:200px;
    @include atSmall {
    // position: absolute;
    // max-width:370px;
    // left:0;
    // top:200px;
    }

}


  }
  &__wrapper {
    // position: relative;
    max-width:1170px;
    margin: 0px auto;
   
  }

  }